[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest-django = "*"
pytest = "*"
django = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
